[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==0.5.0"
django-heroku = "==0.3.1"
djangorestframework = "==3.12.4"
pipenv = "==2021.5.29"
psycopg2 = "==2.9.1"
whitenoise = "==5.3.0"
Django = "==3.2.5"
supervisor = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.9"
